<div>
    <ul id="header">
        <li><a style="color:white;" href="/">polyDB</a></li>


        <li class="right"><a href="/about">About</a></li>
        <li class="right"><a href="/schedules">Schedules</a></li>
        <li class="right"><a href="/">Home</a></li>
    </ul>
</div>