<!DOCTYPE html>
<html>
<head>
<% include partials/head %>
</head>
<body>

<% include partials/topbar %>

<h1><%= name %>'s Profile</h1>
<h3>Current Schedule</h3>
<p><%= sched %></p>
<h3>Adaptation Log</h3>
<p><%= log %></p>

</body>
</html>
